<ion-view view-title="Mypage">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="{{UserData.faceimg}}">
                <h2>사진</h2>
            </div>


            <a class="item item-icon-left" href="#">
                <i class="icon ion-bowtie"></i>
                name
    <span class="item-note">
    {{UserData.Name}}
    </span>
            </a>

            <a class="item " href="#">
                userId
    <span class="item-note">
    {{UserData.id}}
    </span>
            </a>

            <a class="item " href="#">
                email
    <span class="item-note">
    {{UserData.email}}
    </span>
            </a>
            <a class="item" href="#">
                생년월일
    <span class="item-note">
    {{UserData.birth  | date}}
    </span>
            </a>
            <a class="item" href="#">
                관심분야
    <span class="item-note">
    {{UserData.interest}}
    </span>
            </a>
            <a class="item" href="#">
                성별
    <span class="item-note">
    {{UserData.gender}}
    </span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">0</span>
            </a>
            <a class="item" href="#">
                내소개
    <span class="item-note">
    {{UserData.intro}}
    </span>
            </a>
            <button class="button button-full button-positive">
                비밀번호 변경하기
            </button>
        </div>

    </ion-content>
</ion-view>
