<ion-view view-title="neighbor">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <button class="button button-block button-calm" ng-disabled="JoinFrom.$invalid" onclick="location.href='#/app/main/main'">선택완료</button>
    </ion-content>
</ion-view>
