<ion-view view-title="Interest">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
          <div class="row" ng-repeat="interest in interests track by $index" ng-if="$index % 2 == 0">
            <div class="col col-50" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-if="interests[i] != null">
                <ion-checkbox ng-model="interests[i].check"><div class="item item-avatar" ><img src="{{interests[i].imgURL}}" /></div>{{interests[i].name}}</ion-checkbox>
            </div>
        </div>
          <button class="button button-block button-calm"  ng-click="selectOK()">선택완료</button>
  
        </ion-list>
    </ion-content>
</ion-view>