<ion-view view-title="detailBook">
    <ion-content>
       <div class="list card">

                <div class="item item-divider">
                    <h4>주제분류</h4>
                    <p>
                        {{bookInfo.category}}
                    </p>
                </div>
                <div width="100%">
                  <a href="{{bookInfo.imgURL}}">
                    <img src="{{bookInfo.imgURL}}" width="200px" >
                  </a>
                  <div class="desc">{{bookInfo.title}} </div>
                </div>
                <div class="item item-divider">
                    <h4>품목정보<h4>
                </div>
                <div  style="width: 100%;">
                    <p>{{bookInfo.date}}</p>
                    <p>{{bookInfo.page}} | {{bookInfo.size}}</p>
                    <p>{{bookInfo.isbn}}</p>
                </div>
                 <div class="item item-divider">
                    <h4>도서소개</h4>
                </div>
                <div  style="width: 100%;">
                    <p>{{bookInfo.bookIntro}}</p>
                </div>

                 <div class="item item-divider">
                    <h4>목차</h4>
                </div>
                <div  style="width: 100%;">
                    <p>{{bookInfo.bookIndex}}</p>
                </div>

                <div class="item item-divider">
                    <h4>저자소개</h4>
                </div>
                <div  style="width: 100%;">
                        <p>{{bookInfo.authorIntro}}</p>
                </div>
            </div>

    </ion-content>
</ion-view>
