<ion-view view-title="SignupPage">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <form role="form" name="JoinFrom">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">아이디</span>
          <input type="text" placeholder="userid" ng-model="data.userid">
        </label>
        <label class="item item-input">
          <span class="input-label">비밀번호</span>
          <input type="password" placeholder="password" ng-model="data.password">
        </label>
        <label class="item item-input">
          <span class="input-label">이름</span>
          <input type="text" placeholder="name" ng-model="data.name">
        </label>
        <label class="item item-input">
          <span class="input-label">이메일</span>
          <input type="text" placeholder="email" ng-model="data.email">
        </label>
        <label class="item item-input">
          <span class="input-label">생년월일</span>
          <input type="text" placeholder="birth" ng-model="data.birth">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">성별</span>
          <select  ng-model="data.gender">
            <option selected >남</option>
            <option selected >여</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">전화번호</span>
          <input type="text" placeholder="phone" ng-model="data.phone">
        </label>
      </div>
      <button class="button button-block button-calm" ng-disabled="JoinFrom.$invalid" onclick="location.href='#/confirmEmail'">등록하기</button>

      </from>
  </ion-content>
</ion-view>
