
<ion-view view-title="Login" name="login-view">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <form role="form" name="loginFrom">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="userid" ng-model="data.userid">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="password" ng-model="data.password">
        </label>
      </div>
      <button class="button button-block button-calm" ng-disabled="loginFrom.$invalid" ng-click="Login()">Login</button>
      <div align="center"> <a href="#/confirmEmail">비밀번호 찾기</a>/<a href="#/signUP">회원가입하기</a></div>
      </from>
  </ion-content>
</ion-view>
