/* Empty. Add your own CSS if you like */
.padding-top{
	padding-top: 50px;
}

* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}

#container {
    background: #ccc;
    width: 100%;
    margin: auto;
    display: table;
}
#listLeft, #listRight {
    display: table-cell
}
#listLeft {
    width: 50%;
}
#listRight {
	width: 50%;
}

.rcmdScore {
 background-color: #87cefa ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 50px;
   line-height: 50px;
   text-align: center;
   width: 50px;
 position: relative;
 top: -40px;
 right: 5px;
}


/*
 별점 css
*/
div.stars {
  position: absolute;
  top: 60%;
  display: inline-block;

}
input.star { display: none; }
label.star {
  float: right;
  padding: 2px;
  font-size: 15px;
  color: #444;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #F62; }
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.wrd {
    padding: 0;
    position: relative;
}

#htmltagcloud {
    line-height: 2.4em;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: none;
    text-align: justify;
    text-indent: 0;
    font-size: 100%;
    width: auto;
    font-family: 'lucida grande','trebuchet ms',arial,helvetica,sans-serif;
    background-color: #fff;
    margin: 1em 1em 0 1em;
    border: 2px dotted #ddd;
    padding: 2em;
}


/*
 bookimg 관련 css
*/
div.bookimg {

    margin: 5px;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.bookimg:hover {
    border: 1px solid #777;
}

div.bookimg img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



/*button*/
.plusbtn {
  background: #40a6eb;
  background-image: -webkit-linear-gradient(top, #40a6eb, #005ea6);
  background-image: -moz-linear-gradient(top, #40a6eb, #005ea6);
  background-image: -ms-linear-gradient(top, #40a6eb, #005ea6);
  background-image: -o-linear-gradient(top, #40a6eb, #005ea6);
  background-image: linear-gradient(to bottom, #40a6eb, #005ea6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 34px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.plusbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}